# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
develop-eggs/
.eggs/
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.sqlite3
*.db
*.log

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# macOS
.DS_Store

# Java
*.class
*.jar
*.war
*.ear
*.nar
*.car
*.jfm
*.jfr
*.jdb
*.jdi
*.jks
*.jps
*.log
*.ctxt
*.project
*.classpath
*.settings/
bin/
build/
out/
target/
*.iml
.idea/
*.ipr
*.iws
*.swp
*.swo
*.bak
*.tmp
*.orig
*.rej
*.patch
